mixin indicators()
  section.indicators
    .wrapper
      h2
        span.indicators__title Что произошло после внедрения dostavka.io у одного крупного ритейлера:
      ul.indicators__list
        li.indicator
          .indicator__img
            img(src=require('../../assets/indicator-1.png'), alt="Indicator")
          span.indicator__description Своевременность доставки в магазины выросла на  
            strong 35%
        li.indicator
          .indicator__img
            img(src=require('../../assets/indicator-2.png'), alt="Indicator")
          span.indicator__description Своевременность подачи транспорта под загрузку выросла на 
            strong 20%
        li.indicator
          .indicator__img
            img(src=require('../../assets/indicator-3.png'), alt="Indicator")
          span.indicator__description Повреждения снизились на 
            strong 15%
        li.indicator
          .indicator__img
            img(src=require('../../assets/indicator-4.png'), alt="Indicator")
          span.indicator__description Удовлетворенность магазинов выросла с 
            strong 80% 
            | до 
            strong 98%
        li.indicator
          .indicator__img
            img(src=require('../../assets/indicator-5.png'), alt="Indicator")
          span.indicator__description До  
            strong 20% 
            | экономии времени административных сотрудников, занятых на транспортных операциях
        li.indicator
          .indicator__img
            img(src=require('../../assets/indicator-6.png'), alt="Indicator")
          span.indicator__description Интегрированный показатель сервиса транспортных компаний вырос до 
            strong 98%