mixin advantages()
  section.advantages
    .wrapper
      h2
        span.advantages__title Преимущества 
          strong dostavka.io
      ul.advantages__list
        li.advantage
          .advantage__icon
            img(src=require('../../assets/advantage.svg'), alt="Advantage")
          .advantage__description Не нужны специальные устройства GPS навигации в транспортных средствах, достаточно смартфона водителя.
        li.advantage
          .advantage__icon
            img(src=require('../../assets/advantage.svg'), alt="Advantage")
          .advantage__description Облачное решение, не требующее каких-либо установок программ, сложной интеграции с другими системами
        li.advantage
          .advantage__icon
            img(src=require('../../assets/advantage.svg'), alt="Advantage")
          .advantage__description Можно отслеживать любые виды транспортных операций B2B или B2C, интермодальные перевозки, полные грузовики или мелкие отправки.
        li.advantage
          .advantage__icon
            img(src=require('../../assets/advantage.svg'), alt="Advantage")
          .advantage__description Любые индустрии: ритейл, промышленность, FMCG, строительный сектор, логистические и транспортные компании, и др.
        li.advantage
          .advantage__icon
            img(src=require('../../assets/advantage.svg'), alt="Advantage")
          .advantage__description Интуитивно понятные интерфейсы, не требующие обучений пользователей.
        li.advantage
          .advantage__icon
            img(src=require('../../assets/advantage.svg'), alt="Advantage")
          .advantage__description Вся информация и ключевые показатели качества в реальном времени.
        