mixin targets()
  section.targets
    .wrapper
      h2.targets__title Зачем нужна 
        strong dostavka.io?
      ul.targets__list
        li.target
          .target__img
            img(src=require('../../assets/target-1.svg'), alt="Target")
          span.target__text Объективно измерять и улучшать качество транспортных операций
        li.target
          .target__img
            img(src=require('../../assets/target-2.svg'), alt="Target")
          span.target__text Держать удовлетворенность клиента под контролем
        li.target
          .target__img
            img(src=require('../../assets/target-3.svg'), alt="Target")
          span.target__text Снижать простои, штрафы и разбирательства при спорах
        li.target
          .target__img
            img(src=require('../../assets/target-4.svg'), alt="Target")
          span.target__text Работать по принципам LEAN и устранять потери в процессах
        li.target
          .target__img
            img(src=require('../../assets/target-5.svg'), alt="Target")
          span.target__text Не допускать перебоев в поставках или остановок производства
        li.target
          .target__img
            img(src=require('../../assets/target-6.svg'), alt="Target")
          span.target__text Держать руку на пульсе своих перевозок
        li.target
          .target__img
            img(src=require('../../assets/target-7.svg'), alt="Target")
          span.target__text Обойти конкурентов по уровню сервиса
        li.target
          .target__img
            img(src=require('../../assets/target-8.svg'), alt="Target")
          span.target__text Снизить издержки на административный персонал по перевозкам